@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import "../../../styles/Colors";
@import "../../../styles/Default";


.navbar-element {
  cursor: pointer;
  font-family: 'Merriweather', serif;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin: 0;
  box-sizing: content-box;

  font-size: 16px;

  a {
    color: $navbar-light !important;
  }

  background: $navbar-bg;

  // THE CATEGORY TITLE
  .navbar-drop-down-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem .5rem;

    transition: background-color 100ms linear;
    background: $navbar-bg;

    &:hover {
      background: $navbar-dark;

      a {
        color: $navbar-light-text !important;
      }
    }

    .navbar-drop-down-title-text {

    }

    .navbar-drop-down-title-icon {
      width: 1em;
      height: 1em;
      font-size: .75em;
      transition: transform 100ms linear;
      padding-top: .125em;
      transform: rotate(-90deg);
    }
  }

  // DROP DOWN MENU
  .inner-navbar-list {
    height: auto;
    background: $navbar-dark;
    padding-left: 10px;
    transition: all 200ms ease-in-out;
    overflow: hidden;

    .inner-navbar-element {
      padding: .25em 0 .25em .5rem;
      text-decoration: none;

      &:hover {
        color: $navbar-light-text;
      }
    }
  }
}

// ACTIVE
.navbar-element.active {
  .navbar-drop-down-title {
    background: $navbar-dark;

    .navbar-drop-down-title-icon.active {
      transform: rotate(0deg);

    }

    .navbar-drop-down-title-text {

    }

  }

  // DROP DOWN MENU
  .inner-navbar-list {

    .inner-navbar-element {

    }
  }
}

.inner-navbar-list .navbar-drop-down-title {
  background: $navbar-dark;
}