@import "../../styles/Colors";
@import "../../styles/Default";

.login-wrapper {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;


  .login-form-holder {
    display: flex;
    box-sizing: content-box;

    width: 50rem;

    margin: 1.5em;

    position: absolute;
    left: 0;

    border-radius: 10px;
    overflow: hidden;

    background: $white;
    box-shadow: 3px 6px 20px 10px $transparent-gray;
    z-index: 200;
  }

  @media (max-width: 850px) {
    .login-form-holder {
      width: calc(100% - 0.4em);
      height: calc(100% - 0.4em);
      margin: .2em;
    }
  }


  .login-form-holder {
    .login-form {
      padding: 30px 20px;
      box-sizing: border-box;

      .login-header {
        font-size: 1.2em;

        p {
          margin: .2em 0;
        }

        .rost-invest-group {
          font-size: 1.7em;
        }

      }
    }
  }


  #loginBtn {
    padding: 1rem 4rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    background: linear-gradient(to right, $primary, $secondary);

    border: none;
    border-radius: 2rem;
    transition: transform .2s ease-in;

    &:hover {
      transform: scale(1.07);
    }
  }

}