@import "../../styles/Colors";

.alerts-holder {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1vw;
  width: 20em;
  z-index: 1000;
  display: none;
}

.alerts-holder.active {
  display: block;
}


.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $light-color;
  color: #333;
}

.alert-primary {
  background: $primary-color;
  color: #fff;
}

.alert-light {
  background: $light-color;
  color: #333;
}

.alert-dark {
  background: $dark-color;
  color: #fff;
}
.alert-danger {
  background: $danger-color;
  color: #fff;
}

.alert-success {
  background: $success-color;
  color: #fff;
}
