@import "../../styles/Colors";


// TABLE
.table-controls {
  margin-top: 2em;
}

.table-wrapper {
  font-family: 'Nunito', sans-serif;
  margin-top: 0;

  .table-search-group-field {
    margin-top: 0;
    padding-top: 0;
  }

  .table-checkbox {
    height: 2em;
    width: 2em;
  }

  .table-head {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    font-size: .55em;
    font-weight: bolder;
    color: $dark-color;
    border-bottom: 2px solid $dark-color;


    .table-head-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
    }
  }

  .row-header {
    display: flex;

    .row-header-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: .2em;
    }

    .sort-order-arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .up-down-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }
    }

  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    padding: .5rem 0;
    border: 1px solid rgb(209, 209, 220);
    border-radius: 0.25rem;

    .table-row-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: .55em;
      word-break: break-all;

      .table-delete-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2em;
        height: 2em;
        font-size: 1.5em;

        &:hover {
          color: darkred;
        }

      }
    }
  }
}
