// MAIN
$primary: #526dff;
$secondary: #b9caff;
$white: #fff;
$gray: #858585;
$gray: #858585;
$transparent-gray: rgba(68, 68, 68, 0.4);
$dark: #041660;

// ALERTS
$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
