// FONTS
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

// BASIC
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.green {
  color: green;
}

.red {
  color: red!important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}